[Unit]
Description = This application retrieve pki on a directory and load them into Sōzu
Documentation = https://github.com/cleverCloud/sozu-pki-connector
After = network-online.target local-fs.target remote-fs.target time-sync.target sozu.service
Requires = network-online.target local-fs.target remote-fs.target time-sync.target sozu.service

[Service]
Type=simple
ExecStart=/usr/bin/sozu-pki-connector --config /etc/sozu/connector/pki.toml
Restart=on-failure
# Since systemd 229, should be in [Unit] but in order to support systemd <229,
# it is also supported to have it here.
StartLimitInterval=10
StartLimitBurst=5

[Install]
WantedBy = multi-user.target
